[Unit]
Description=go_ws_sh-tls
After=network.target

[Service]
Type=simple
ExecStart=/root/opt/go_ws_sh/server/loop-tls.sh
Restart=always
WorkingDirectory=/root/opt/go_ws_sh/server
User=root
Group=root
[Install]
WantedBy=multi-user.target